body{
    margin: 0;
}

.headercolor{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.headercontainer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    
       
}
.headeritem{
    margin-left: 40px;
    margin-right: 40px;
}

.headeritem h2{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    list-style: none;
}

.headeritem ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}

.headeritem li{
    margin-left: 20px;
}

.headeritem a{
    color: #f9faf8;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    
}

.container {
    max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px; /* Increased margin */
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #1F2937;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #0E1621;
}

.isprovider-options {
    margin-bottom: 10px;
}

.radio-options {
    display: flex;
    gap: 10px;
}

.radio-options label {
    flex: 1;
    display: flex;
    align-items: center;
}

.radio-options label input[type="radio"] {
    margin-right: 5px;
}

#getLocationBtn {
    width: auto;
    padding: 10px 20px;
    background-color: #1F2937;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#getLocationBtn:hover {
    background-color: #0E1621;
}

#latitude,
#longitude {
    display: none;
}

/* Reduce gap between label and input fields */
.registration-form input,
.registration-form textarea {
    margin-bottom: 15px; /* Increased margin */
}

/* Text above "Get Location" button */
.getLocation-text {
    font-weight: bold;
    text-align:start;
    margin-bottom: 10px;
}