<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

</head>
<body>
    <div class="headercolor">
        <div class="headercontainer">
          <div class="headeritem"><h2>Cloud Bridge</h2></div>
          <div class="headeritem">
            <ul>
              <li><a href="/home/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/logout/">Logout</a></li>

            </ul>
          </div>
        </div>
      </div>
    
    <div id="map"></div>
    
</body>
<script>
    var map = L.map('map'); // Create a map without setting the initial view
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    

    function getUserCity(lat, lng, marker) {
  // Replace YOUR_API_KEY with your actual Google Maps API key
  var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&key=AIzaSyAc9ZBIbs3Fw6bjDf7X9hboPF-m2_2f-BM';
  fetch(url)
        .then(response => response.json())
        .then(data => {
            var city = '';
            // Loop through address components to find locality (city)
            for (var i = 0; i < data.results[0].address_components.length; i++) {
                if (data.results[0].address_components[i].types.includes('locality')) {
                    area = data.results[0].address_components[i].long_name;
                    break;
                } else if (data.results[0].address_components[i].types.includes('sublocality')) {
                    area = data.results[0].address_components[i].long_name;
                }
            }
            // If neither locality nor sublocality is found, use 'Unknown'
            if (!area) {
                area = 'Unknown';
            }

            if (marker.user.username === marker.user.tokenUsername){
                marker.bindPopup('You are here!!!<br>'+'<b>Username:</b> ' + marker.user.username + '<br><b>Near:</b> You are here!<br><b>CloudService:</b> ' + marker.user.cloudService);
            } else {

                marker.bindPopup('<b>Username:</b> ' + marker.user.username + '<br><b>Near:</b> ' + area + '<br><b>CloudService:</b> ' + marker.user.cloudService + '<br><button onclick="openChat('+ marker.user.id +' , \''+ marker.user.username +'\')">Chat</button>'); // Update popup content with city name

            }

            
        })
        .catch(error => console.error('Error fetching city data:', error));
}

function openChat(targetUserID, targetUsername){
    fetch('/api/currentuserIDName')
    .then(response => response.json())
    .then(data => {
        // Assuming the response contains currentUserID and currentUsername as JSON
        const currentUserID = data.currentUserID;
        const currentUsername = data.currentUsername;
        
        // Now you have currentUserID and currentUsername in JavaScript variables
        console.log("Current User ID:", currentUserID);
        console.log("Current Username:", currentUsername);

        // Convert currentUserID to a string
        var currentUserIDStr = currentUserID.toString();

        // Generate a unique chatroom name based on user IDs
        var chatroomName = "private_" + Math.min(currentUserIDStr, targetUserID) + "_" + Math.max(currentUserIDStr, targetUserID);

        // Redirect both users to the newly created private chatroom
        window.location.href = "/initiateprivatechat?chatroom=" + chatroomName + "&targetname=" + encodeURIComponent(targetUsername);
    
    })
    .catch(error => {
        console.error('Error fetching current user:', error);
    });
    
}

function createUserIcon(profilePicUrl) {
    return L.divIcon({
    className: 'custom-icon',
    html: '<div class="rounded-icon" style="background-image: url(' + profilePicUrl + ');"></div>',
    iconSize: [40, 40], // Larger icon size
    iconAnchor: [20, 0],
    
  });
}



    // Fetch user locations from backend
    fetch('/api/users')
        .then(response => response.json())
        .then(users => {
            var userMarkers = [];
            var latSum = 0;
            var lonSum = 0;

            users.forEach(user => {
                console.log(user.latitude)

                
                latSum += user.latitude;
                lonSum += user.longitude;

                var marker = L.marker([user.latitude, user.longitude], {
                    icon: createUserIcon(user.profilePicURL)
                });

                
                marker.user = user; // Attach user data to marker object

                // Call getUserCity to get city for each marker
                getUserCity(user.latitude, user.longitude, marker);
                

                userMarkers.push(marker);
            });

            // Calculate average latitude and longitude
            var avgLat = latSum / users.length;
            var avgLon = lonSum / users.length;

            // Set the view to the average latitude and longitude
            map.setView([avgLat, avgLon],12);

            // Add markers to the map
            userMarkers.forEach(marker => {
                marker.addTo(map);
            });
        })
        .catch(error => console.error('Error fetching user locations:', error));
</script>

    



</html>