<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <h1>Get User Location and display on map</h1>
    <div style="height: 300px;" id="map"></div>
    
</body>
<script>
    var map = L.map('map'); // Create a map without setting the initial view
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

  

    function getUserCity(lat, lng, marker) {
  // Replace YOUR_API_KEY with your actual Google Maps API key
  var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lat + ',' + lng + '&key=AIzaSyAc9ZBIbs3Fw6bjDf7X9hboPF-m2_2f-BM';

  fetch(url)
    .then(response => response.json())
    .then(data => {
      var city = '';
      // Loop through address components to find locality (city)
      for (var i = 0; i < data.results[0].address_components.length; i++) {
        if (data.results[0].address_components[i].types[0] === 'locality') {
          city = data.results[0].address_components[i].long_name;
          break;
        }
      }
      city = city || 'Unknown'; // Set default to 'Unknown' if city not found

      marker.bindPopup('<b>Username:</b> ' + marker.user.username + '<br><b>Near:</b> ' + city + '<br><b>CloudService:</b> ' + marker.user.cloudService + '<br><button onclick="openChat('+ marker.user.id +')">Chat</button>') ; // Update popup content with city name
    })
    .catch(error => console.error('Error fetching city data:', error));
}

function openChat(targetUserID){
    console.log(targetUserID)
    window.location.href = "/initiateprivatechat?userId=" + targetUserID;
}

function createUserIcon(profilePicUrl) {
    return L.divIcon({
    className: 'custom-icon',
    html: '<div class="rounded-icon" style="background-image: url(' + profilePicUrl + ');"></div>',
    iconSize: [40, 40], // Larger icon size
    iconAnchor: [20, 0],
    
  });
}

    // Fetch user locations from backend
    fetch('/api/users')
        .then(response => response.json())
        .then(users => {
            var userMarkers = [];
            var latSum = 0;
            var lonSum = 0;

            users.forEach(user => {
                latSum += user.latitude;
                lonSum += user.longitude;

    



                var marker = L.marker([user.latitude, user.longitude], {
                    icon: createUserIcon(user.profilePicURL)
                });
                marker.user = user; // Attach user data to marker object

                // Call getUserCity to get city for each marker
                getUserCity(user.latitude, user.longitude, marker);

                marker.on('click', function() {
                map.setView([this.getLatLng().lat, this.getLatLng().lng], 14); // Zoom to marker location with zoom level 14 (more zoomed in)
                this.setIcon(createUserIcon(user.profilePicURL)); // Re-create icon with potentially larger size (optional)
            });


                userMarkers.push(marker);
            });

            // Calculate average latitude and longitude
            var avgLat = latSum / users.length;
            var avgLon = lonSum / users.length;

            // Set the view to the average latitude and longitude
            map.setView([avgLat, avgLon],12);

            // Add markers to the map
            userMarkers.forEach(marker => {
                marker.addTo(map);
            });
        })
        .catch(error => console.error('Error fetching user locations:', error));
</script>

    



</html>