<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  -->
    <h1>Login Page</h1>
    <a href="/home/">Home</a>
    <a href="/login/">Login</a>
    <a href="/registersite/">Register</a>
    <a href="/about/">About</a>
    
    <h2>Login Logic</h2>
    <div id="content">
        <form action="/loginform/" method="post">
            <input type="text" name="username" required>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        
    </div>
</body>
</html>